- siteDescription = "Carmudi Website"
- metaKeywords = "Carmudi, Cars, Buy and Sell"
- siteTitle = "Carmudi Catalog"
- fontAwesome = "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
- jQuery = "https://code.jquery.com/jquery-3.1.0.min.js"
